@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p, h1 {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}


main {
  font-family: 'Jost', sans-serif;
  @media (max-width: 730px) {
    align-items: unset;
  }
  user-select: none;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .main_container {
    @media (max-width: 768px) {
      flex-direction: column;
      height: 90%;
      width: 100%;
    }
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    display: flex;
    overflow-y: scroll;
    border-radius: 10px;
    height: 70%;
    width: 70%;
    background: #B08876;

    .left_side {
      @media (max-width: 768px) {
        width: 100%;
      }
      background: #FFE7D4;
      min-width: 320px;

      .left_side_content {
        align-items: center;
        //border-bottom: solid 4px purple;
        display: flex;
        //justify-content: space-between;
        gap: 10px;
        padding: 14px 14px;

        .img_container {

        }

        .text_container {

        }
      }

      .left_side_content_list {

        .list_container {
          @media (max-width: 730px) {
            flex-direction: row;
          }
          padding: 14px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .list--category {
            display: flex;
            flex-direction: column;

            img {
              width: 20px;
              height: 20px;
            }

            .category--title {
              p {
                @media (max-width: 375px) {
                  display: none;
                }
              }

              display: flex;
              flex-direction: row;
              gap: 5px;
            }
          }

          .category_list_container {
            display: flex;
            gap: 20px;
            justify-content: space-between;


            .category_list {

            }

          }

          .tags_list_container {
            display: flex;


            .category_list {

            }
          }

          .setings_list_container {
            display: flex;


            .category_list {

            }
          }
        }
      }
    }

    .right_side {
      padding: 14px 14px;
      display: flex;
      flex-direction: column;
      gap: 14px;
      background: #B08876;
      width: 100%;
      @media (max-width: 769px) {
        width: unset;
      }

      .text_container {
        display: flex;
        flex-direction: column;
        align-items: start;
      }

      .to_do_main_content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        //
        .add_button {
          width: fit-content;
          display: flex;
          justify-content: space-between;

          img {
            width: 35px;
            height: 35px;
          }

          textarea {
            display: none;
            min-width: 95%;
            min-height: 45px;
            max-height: 45px;
            max-width: 95%;
            box-shadow: 5px 5px 10px 2px rgba(34, 60, 80, 0.2);
            border-radius: 15px;
            padding: 10px;
            font-size: 16px;
            resize: none
          }

          .isactive {
            display: block;
          }

          .hide {
            display: none;
          }
        }

        .main_cards {
          width: 100%;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .cards {
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            padding: 5px;
            font-size: 16px;
            background: white;
            align-items: center;

            p {

            }

            img {
              transition-duration: 200ms;
              @media (max-width: 765px) {
                opacity: 1;
              }
              opacity: 0;
            }
          }

          .cards:hover > img {
            opacity: 1;
          }


        }
      }
    }
  }
}